.cardWrapper {

  display: flex;
  flex-wrap: wrap;
  width: fit-content;

  /*align-content: center;*/

  
}

body{
  background-color: red;
}

.card {
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 35px;
  width: fit-content;
  align-content: center;
  
  
}

.card-img-top {
width: 300px;
margin-left: 25%;
margin-right: 50%;
}


  

.parent {
  position: relative;


}

.image1 {
  width: 300px;
  margin-left: 25%;
  margin-right: 50%;
  position: absolute;
  top: 20px;
  left: 20px;}

.image2{
  position: absolute;
  top: 100px;
  left: 75px;
}

.textfix {
  position: absolute;
  top: -100px;
  left: -100px;
}

.specs{
  font-weight: bold;
  padding-left: 10px;
  font-family: "DM Serif Display",Serif;
}

.row {
  align-content: center;
  padding-left: 150px;
}

.cardTitle {
  border: 1px solid lightblue;
  padding: 15px;
  text-align: center;
}

.card-body {
  margin-top: 10px;
  border: 1px solid lightblue;
  padding: 2px;
  font-family: "Pacifico";
  
}

.card-body2 {
  margin-top: 10px;
  padding: 2px;
  font-family: "Pacifico";
  
}


.card-text {
  text-align: justify;
   
}

.text-body-secondary {
 color: yellow;
 padding: 15px; 
 margin: 0px;

}

.card-footer {
  background-color: darkgray;
}
